html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #1e1e1e;
  color: #e4e5ea;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:active {
  text-decoration: none;
  color: #e4e5ea;
}

.container {
  padding: 46px 15px 20px 15px;
  width: 1170px;
  margin: 0 auto;
  @media screen and (max-width: 1000px) {
    width: 1000px;
    padding: 15px;
  }
  @media screen and (max-width: 450px) {
    width: 450px;
    padding: 0px 16px 60px 16px;
  }
}
